.answerbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.learn a{
  text-decoration: none;
}

.submit-button{
  margin-top:10px;
  margin-bottom: 10px;
}
.learn{
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}