.answerbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.learn a{
  text-decoration: none;
}

.submit-button{
  margin-top:10px;
  margin-bottom: 10px;
}
.learn-box{
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid;
}

.user-stats{
  margin-bottom: 10px;
}

.text-box{
  border: 5px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}
