body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: #A991D8;
  color: #F9ED9D;
}

*{
  box-sizing:border-box;
}

h2, h3, p, a{
    text-align:center;
  }
  
button{
    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9ed9d), color-stop(1, #e3ae5f));
	background:-moz-linear-gradient(top, #f9ed9d 5%, #e3ae5f 100%);
	background:-webkit-linear-gradient(top, #f9ed9d 5%, #e3ae5f 100%);
	background:-o-linear-gradient(top, #f9ed9d 5%, #e3ae5f 100%);
	background:-ms-linear-gradient(top, #f9ed9d 5%, #e3ae5f 100%);
	background:linear-gradient(to bottom, #f9ed9d 5%, #e3ae5f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9ed9d', endColorstr='#e3ae5f',GradientType=0);
	background-color:#f9ed9d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	cursor:pointer;
	color:#8d3a8d;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e3ae5f), color-stop(1, #f9ed9d));
	background:-moz-linear-gradient(top, #e3ae5f 5%, #f9ed9d 100%);
	background:-webkit-linear-gradient(top, #e3ae5f 5%, #f9ed9d 100%);
	background:-o-linear-gradient(top, #e3ae5f 5%, #f9ed9d 100%);
	background:-ms-linear-gradient(top, #e3ae5f 5%, #f9ed9d 100%);
	background:linear-gradient(to bottom, #e3ae5f 5%, #f9ed9d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3ae5f', endColorstr='#f9ed9d',GradientType=0);
	background-color:#e3ae5f;
}
button:active {
	position:relative;
	top:1px;
}

/* Grid measurements:
*   960px wide including 12 gutters (half gutters on both edges)
*
*   60px columns (12)
*   20px gutters (two half-gutters + 11 full gutters, so 12 total)
*
*
*   For smaller screens, we always want 20px of padding on either side,
*   so 960 + 20 + 20 => 1000px
*
**/
  .row {
      max-width: 1000px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
  }

   /* Clearfix */
  .row::before,
  .clearfix::after,
  .row::after {
      display: table;
      content: '';
  }

   .row::after {
      clear: both;

   }

   .col-3, .col-4, .col-6, .col-8, .col-9, .col-12 {
      float: left;

       /* Gutters:
       * Each column is padded by half-a-gutter on each side,
       *
       * Half a gutter is 10px, 10/960 (context) = 1.041666%
       *
       */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;

}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 576px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
      width: 25%;

   }

   /* 4 columns, 4/12 in % */
  .col-4 {
      width: 33.333333%;

   }

   /* 6 columns, 6/12 in % */
  .col-6 {
      width: 50%;

   }

   /* 8 columns */
  .col-8 {
      width: 66.666666%;
  }
  /* 9 columns */
  .col-9 {
      width: 75%;
  }

   /* 12 columns, 12/12 in % */
  .col-12 {
      width: 100%;

   }
}

@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
      width: 25%;

   }

   /* 4 columns, 4/12 in % */
  .col-4 {
      width: 33.333333%;

   }

   /* 6 columns, 6/12 in % */
  .col-6 {
      width: 50%;

   }

   /* 8 columns */
  .col-8 {
      width: 66.666666%;
  }
  /* 9 columns */
  .col-9 {
      width: 75%;
  }

   /* 12 columns, 12/12 in % */
  .col-12 {
      width: 100%;
  }

}

@media only screen and (min-width: 720px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
      width: 25%;

   }

   /* 4 columns, 4/12 in % */
  .col-4 {
      width: 33.333333%;

   }

   /* 6 columns, 6/12 in % */
  .col-6 {
      width: 50%;

   }

   /* 8 columns */
  .col-8 {
      width: 66.666666%;
  }
  /* 9 columns */
  .col-9 {
      width: 75%;
  }

   /* 12 columns, 12/12 in % */
  .col-12 {
      width: 100%;
  }

}

@media only screen and (min-width: 768px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
      width: 25%;

   }

   /* 4 columns, 4/12 in % */
  .col-4 {
      width: 33.333333%;

   }

   /* 6 columns, 6/12 in % */
  .col-6 {
      width: 50%;

   }

   /* 8 columns */
  .col-8 {
      width: 66.666666%;
  }
  /* 9 columns */
  .col-9 {
      width: 75%;
  }

   /* 12 columns, 12/12 in % */
  .col-12 {
      width: 100%;
  }

}

@media only screen and (min-width: 992px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
      width: 25%;

   }

   /* 4 columns, 4/12 in % */
  .col-4 {
      width: 33.333333%;

   }

   /* 6 columns, 6/12 in % */
  .col-6 {
      width: 50%;

   }

   /* 8 columns */
  .col-8 {
      width: 66.666666%;
  }
  /* 9 columns */
  .col-9 {
      width: 75%;
  }

   /* 12 columns, 12/12 in % */
  .col-12 {
      width: 100%;
  }

}

@media only screen and (min-width: 1200px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
      width: 25%;

   }

   /* 4 columns, 4/12 in % */
  .col-4 {
      width: 33.333333%;

   }

   /* 6 columns, 6/12 in % */
  .col-6 {
      width: 50%;

   }

   /* 8 columns */
  .col-8 {
      width: 66.666666%;
  }
  /* 9 columns */
  .col-9 {
      width: 75%;
  }

   /* 12 columns, 12/12 in % */
  .col-12 {
      width: 100%;
  }

}